<div id="topmenu_container" data-ng-controller="TopmenuCtrl">
    <ul>
        <li data-ng-repeat="menuItem in menu">
            <a href="#{{ menuItem.path }}">{{ menuItem.label }}</a>
        </li>
    </ul>
</div>