/*
    Created on : Jan 29, 2014, 9:35:42 AM
    Author     : Yuriy Peskov <yuriy.peskov@gmail.com>
*/

@topMenuHeight: 20px;

#topmenu_container {
    ul {
        li {
            float:      left;
            margin-left:20px;
        }
    }

    border-top:     1px solid #eee;
    border-bottom:  1px solid #eee;
    height:         @topMenuHeight;
}