<!DOCTYPE html>
<html data-ng-app="app" data-ng-controller="AppCtrl">
<head>
    <meta charset="UTF-8">
    <title data-ng-bind="AppCtrl.pageTitle"></title>

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" />
    <% }); %>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <script type="text/javascript" src="vendor/angular/i18n/angular-locale_<?php echo $currentLocale ?>.js"></script>

</head>

<body>
    <div id="page_wrapper">
        <div id="page_header">
            <div id="top_section_in_header">
                <div id="logo">
                    <img src="/assets/images/logo.png" />
                </div>

                <div id="language_section"
                     data-ng-include="'language/i18n/en-us/language.tpl.html'"
                     data-ng-controller="LanguageCtrl" >
                </div>

                <div id="user_section"
                     data-ng-include="'user/user_section.tpl.html'"
                     data-ng-controller="UserCtrl" >
                </div>
            </div>


            <div data-ng-include="'topmenu/topmenu.tpl.html'"></div>
        </div>

        <div id="main_content" data-ui-view="main"></div>
    </div>

    <div id="preloader" data-ng-show="AppCtrl.Data.showPreloader"></div>
</body>
</html>
