<div>
    <div data-ng-show="UserCtrl.user.identified">
        <span>Welcome back,</span>{{ UserCtrl.user.first_name }}&nbsp;
        <a href="#" data-ng-click="UserCtrl.logout()">Logout</a>
    </div>

    <div data-ng-show="! UserCtrl.user.identified">
        <form>
            <input id="user_email" type="email" data-ng-model="UserCtrl.user.email" autocomplete="on" />
            <input type="password" data-ng-model="UserCtrl.user.password" />
            <input type="submit" data-ng-click="UserCtrl.tryToLogin();" value="Log In" />
        </form>

        <br />

        <div class="has-error" data-ng-show="UserCtrl.displayLoginError">
            <span class="help-block">Error logging into account</span>
        </div>

    </div>
</div>