<h3>
    <button id="add_new-target_button" data-ng-click="TargetsCtrl.showNewTargetPopup()">Add a new target</button>
</h3>
<hr />

<h3>Current Targets:</h3>

<ul>
    <li data-ng-repeat="target in TargetsCtrl.Data.targets | filter: {active: 1}">
        <a href="#">{{ target.name }}</a>
    </li>
</ul>

<hr />

<h3>All targets:</h3>
<ul>
    <li data-ng-repeat="target in TargetsCtrl.Data.targets">
        <a href="#">{{ target.name }}</a>
    </li>
</ul>

<hr />

<h3>Archived targets:</h3>
<ul>
    <li data-ng-repeat="target in TargetsCtrl.Data.targets | filter: {archived: 1}">
        <a href="#">{{ target.name }}</a>
    </li>
</ul>



<div id="add_target_container" class="modalPopup" data-ng-show="TargetsCtrl.newTargetPopupShow">
    <div class="add_new_target_label"><label for="add_new_target_name">Name:&nbsp;</label></div>
    <input class="add_new_target_input" id="add_new_target_name" type="text" data-ng-model="TargetsCtrl.newTarget.name" />
    <div class="separator1"></div>

    <div class="add_new_target_label"><label for="add_new_target_description">Description:&nbsp;</label></div>
    <textarea class="add_new_target_input" id="add_new_target_description" data-ng-model="TargetsCtrl.newTarget.description"></textarea>
    <div class="separator1"></div>

    <div class="add_new_target_label"><label for="add_new_target_startdate">Start Date:&nbsp;</label></div>
    <input class="add_new_target_input" id="add_new_target_startdate" type="text" data-ng-model="TargetsCtrl.newTarget.date_start" />
    <div class="separator1"></div>

    <div class="add_new_target_label"><label for="add_new_target_finishdate">Start Date:&nbsp;</label></div>
    <input class="add_new_target_input" id="add_new_target_finishdate" type="text" data-ng-model="TargetsCtrl.newTarget.date_finish" />
    <div class="separator1"></div>

    <input type="button" data-ng-click="TargetsCtrl.addNewTarget()" value="Add Target" />
    <input type="button" data-ng-click="TargetsCtrl.hideNewTargetPopup()" value="Cancel" />

</div>