/**
* First let's clear all the paddings and margins
*/
html, body, div, span, a, ul, li, h1, h2, h3, h4, h5, h6 {
    margin:     0;
    padding:    0;
    list-style: none;
}

#page_wrapper {
    position:   absolute;
    border:     1px solid #000;
    height:     100%;
    width:      @generalWidth;
    margin-left:-@generalWidth/2;
    left:       50%;
}

#top_section_in_header {
    height:     80px;
}

#logo {
    float:      left;
    width:      450px;
    height:     80px;
}

#language_section {
    float:      right;
}

#user_section {
    float:      right;
    margin:     5px 5px 0 0;
}

#main_content {
    margin:     10px 10px 0 10px;
}

#page_header {
    height:     @headerHeight;

}

.separator1 {
    height: 10px;
}

#preloader {
    position:   absolute;
    z-index:    500;
    width:      100%;
    height:     100%;
    opacity:    0.7;
    background-color:  #eee;
}

.modalPopup {
    z-index:    1000;
}