/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';


/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;


/**
* Page variables
*/
@generalWidth:  970px;

/**
* Header variables
*/
@headerHeight: 100px;