@newTargetPopupWidth:   500px;
@newTargetPopupHeight:  300px;

@addNewTargetLabelWidth:    @newTargetPopupWidth * 0.2;
@addNewTargetLabelHeight:   20px;

#add_new-target_button {
    cursor:     pointer;
}

#add_target_container {
    border:     1px solid #000;
    position:   absolute;
    height:     @newTargetPopupHeight;
    width:      @newTargetPopupWidth;
    top:        50%;
    left:       50%;
    margin-left: -@newTargetPopupWidth/2;
    margin-top: -@newTargetPopupHeight/2;
    padding:    10px;
}


.add_new_target_label {
    width:      @addNewTargetLabelWidth;
    height:     @addNewTargetLabelHeight;
    float:      left;
}

.add_new_target_input {
    width:      @newTargetPopupWidth * 0.75;
}